%table.mcnCaptionRightContentOuter{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr
      %td.mcnCaptionRightContentInner{:style => "padding:0 9px ;", :valign => "top"}
        %table.mcnCaptionRightImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "132"}
          %tbody
            %tr
              %td.mcnCaptionRightImageContent{:align => "center", :valign => "top"}
                %img.mcnImage{:alt => "", :src => "https://gallery.mailchimp.com/4c99faa242d48abdd408214e4/images/9cde6149-c23e-422a-87b3-9ca806f04e51.png", :style => "max-width:512px;", :width => "132"}/
            %table.mcnCaptionRightTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "396"}
              %tbody
                %tr
                  %td.mcnTextContent{:valign => "top"}
                    %p{:style => "text-align: justify;"} En réservant dans notre établissement, vous venez d’offrir la possibilité à des enfants népalais de manger un repas chaud par jour dans leur école.
                    %p{:style => "text-align: center;"}
                      %strong Votre réservation vient s'ajouter aux XX€ que j'ai déjà reversé à ce projet mené par l'association Réservation Responsable.
                    %p{:style => "text-align: justify;"} Merci pour votre soutien.
                    %p{:style => "text-align: right;"}
                      %em=ambassador
