%td#templateBody{:align => "center", "data-template-container" => "", :valign => "top"}
  /[if (gte mso 9)|(IE)]
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
    <tr>
    <td align="center" valign="top" width="600" style="width:600px;">
  %table.templateContainer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td.bodyContainer{:valign => "top"}
        %table.mcnCaptionBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tbody.mcnCaptionBlockOuter
            %tr
              %td.mcnCaptionBlockInner{:style => "padding:9px;", :valign => "top"}
                %table.mcnCaptionRightContentOuter{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody
                    %tr
                      %td.mcnCaptionRightContentInner{:style => "padding:0 9px ;", :valign => "top"}
                        %table.mcnCaptionRightImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "132"}
                          %tbody
                            %tr
                              %td.mcnCaptionRightImageContent{:align => "center", :valign => "top"}
                                = ambassador_img_icon(@ambassador)
                          %table.mcnCaptionRightTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "396"}
                            %tbody
                              %tr
                                %td.mcnTextContent{:valign => "top"}
                                  =ambassador_header_title
                          
                  %table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                    %tbody.mcnDividerBlockOuter
                      %tr
                        %td.mcnDividerBlockInner{:style => "min-width: 100%; padding: 54px 18px 45px;"}
                          %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width: 100%;border-top: 2px solid #0C753F;", :width => "100%"}
                            %tbody
                              %tr
                                %td
                                  %span
                          /
                            <td class="mcnDividerBlockInner" style="padding: 18px;">
                            <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                  -if @mailer.other_ambassadors.present?
                    = render 'other_ambassadors_description'
