!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= title_for_mail

    :css
      p{
      			margin:10px 0;
      			padding:0;
      		}
      		table{
      			border-collapse:collapse;
      		}
      		h1,h2,h3,h4,h5,h6{
      			display:block;
      			margin:0;
      			padding:0;
      		}
      		img,a img{
      			border:0;
      			height:auto;
      			outline:none;
      			text-decoration:none;
      		}
      		body,#bodyTable,#bodyCell{
      			height:100%;
      			margin:0;
      			padding:0;
      			width:100%;
      		}
      		.mcnPreviewText{
      			display:none !important;
      		}
      		#outlook a{
      			padding:0;
      		}
      		img{
      			-ms-interpolation-mode:bicubic;
      		}
      		table{
      			mso-table-lspace:0pt;
      			mso-table-rspace:0pt;
      		}
      		.ReadMsgBody{
      			width:100%;
      		}
      		.ExternalClass{
      			width:100%;
      		}
      		p,a,li,td,blockquote{
      			mso-line-height-rule:exactly;
      		}
      		a[href^=tel],a[href^=sms]{
      			color:inherit;
      			cursor:default;
      			text-decoration:none;
      		}
      		p,a,li,td,body,table,blockquote{
      			-ms-text-size-adjust:100%;
      			-webkit-text-size-adjust:100%;
      		}
      		.ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
      			line-height:100%;
      		}
      		a[x-apple-data-detectors]{
      			color:inherit !important;
      			text-decoration:none !important;
      			font-size:inherit !important;
      			font-family:inherit !important;
      			font-weight:inherit !important;
      			line-height:inherit !important;
      		}
      		.templateContainer{
      			max-width:600px !important;
      		}
      		a.mcnButton{
      			display:block;
      		}
      		.mcnImage,.mcnRetinaImage{
      			vertical-align:bottom;
      		}
      		.mcnTextContent{
      			word-break:break-word;
      		}
      		.mcnTextContent img{
      			height:auto !important;
      		}
      		.mcnDividerBlock{
      			table-layout:fixed !important;
      		}
      	/*
      	@tab Page
      	@section Heading 1
      	@style heading 1
      	*/
      		h1{
      			/*@editable*/color:#FFFFFF;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:48px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:150%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:center;
      		}
      	/*
      	@tab Page
      	@section Heading 2
      	@style heading 2
      	*/
      		h2{
      			/*@editable*/color:#1F2F38;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:48px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:150%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:center;
      		}
      	/*
      	@tab Page
      	@section Heading 3
      	@style heading 3
      	*/
      		h3{
      			/*@editable*/color:#1F2F38;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:36px;
      			/*@editable*/font-style:normal;
      			/*@editable*/font-weight:bold;
      			/*@editable*/line-height:150%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:center;
      		}
      	/*
      	@tab Page
      	@section Heading 4
      	@style heading 4
      	*/
      		h4{
      			/*@editable*/color:#435864;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:22px;
      			/*@editable*/font-style:italic;
      			/*@editable*/font-weight:normal;
      			/*@editable*/line-height:125%;
      			/*@editable*/letter-spacing:normal;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Header
      	@section Header Container Style
      	*/
      		#templateHeader{
      			/*@editable*/background-color:#324D5C;
      			/*@editable*/background-image:url("https://gallery.mailchimp.com/4c99faa242d48abdd408214e4/images/e5804606-56ec-4b2b-ae16-a28686c45786.jpg");
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:153px;
      			/*@editable*/padding-bottom:153px;
      		}
      	/*
      	@tab Header
      	@section Header Interior Style
      	*/
      		.headerContainer{
      			/*@editable*/background-color:transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:0;
      			/*@editable*/padding-bottom:0;
      		}
      	/*
      	@tab Header
      	@section Header Text
      	*/
      		.headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      			/*@editable*/color:#FFFFFF;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:18px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Header
      	@section Header Link
      	*/
      		.headerContainer .mcnTextContent a,.headerContainer .mcnTextContent p a{
      			/*@editable*/color:#FFFFFF;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Body
      	@section Body Container Style
      	*/
      		#templateBody{
      			/*@editable*/background-color:#FFFFFF;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:72px;
      			/*@editable*/padding-bottom:9px;
      		}
      	/*
      	@tab Body
      	@section Body Interior Style
      	*/
      		.bodyContainer{
      			/*@editable*/background-color:transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:0;
      			/*@editable*/padding-bottom:0;
      		}
      	/*
      	@tab Body
      	@section Body Text
      	*/
      		.bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:18px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Body
      	@section Body Link
      	*/
      		.bodyContainer .mcnTextContent a,.bodyContainer .mcnTextContent p a{
      			/*@editable*/color:#DE5B49;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Upper Columns
      	@section Upper Columns Container Style
      	*/
      		#templateUpperColumns{
      			/*@editable*/background-color:#FFFFFF;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:9px;
      			/*@editable*/padding-bottom:90px;
      		}
      	/*
      	@tab Upper Columns
      	@section Upper Columns Interior Style
      	*/
      		#templateUpperColumns .columnContainer{
      			/*@editable*/background-color:transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:0;
      			/*@editable*/padding-bottom:0;
      		}
      	/*
      	@tab Upper Columns
      	@section Upper Columns Text
      	*/
      		#templateUpperColumns .columnContainer .mcnTextContent,#templateUpperColumns .columnContainer .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:16px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Upper Columns
      	@section Upper Columns Link
      	*/
      		#templateUpperColumns .columnContainer .mcnTextContent a,#templateUpperColumns .columnContainer .mcnTextContent p a{
      			/*@editable*/color:#DE5B49;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Columns Container Style
      	*/
      		#templateLowerColumns{
      			/*@editable*/background-color:#CDDCE4;
      			/*@editable*/background-image:url("https://gallery.mailchimp.com/4c99faa242d48abdd408214e4/images/e53e90a3-77d4-422c-a8a6-7288b898f584.jpg");
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:63px;
      			/*@editable*/padding-bottom:63px;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Columns Interior Style
      	*/
      		#templateLowerColumns .columnContainer{
      			/*@editable*/background-color:transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:0;
      			/*@editable*/padding-bottom:0;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Column Section Header Text
      	*/
      		.lowerColumnHeaderContainer .mcnTextContent,.lowerColumnHeaderContainer .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:18px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Column Section Header Link
      	*/
      		.lowerColumnHeaderContainer .mcnTextContent a,.lowerColumnHeaderContainer .mcnTextContent p a{
      			/*@editable*/color:#DE5B49;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Columns Text
      	*/
      		#templateLowerColumns .columnContainer .mcnTextContent,#templateLowerColumns .columnContainer .mcnTextContent p{
      			/*@editable*/color:#202020;
      			/*@editable*/font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
      			/*@editable*/font-size:18px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:left;
      		}
      	/*
      	@tab Lower Columns
      	@section Lower Columns Link
      	*/
      		#templateLowerColumns .columnContainer .mcnTextContent a,#templateLowerColumns .columnContainer .mcnTextContent p a{
      			/*@editable*/color:#DE5B49;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	/*
      	@tab Footer
      	@section Footer Style
      	*/
      		#templateFooter{
      			/*@editable*/background-color:#transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:27px;
      			/*@editable*/padding-bottom:27px;
      		}
      	/*
      	@tab Footer
      	@section Footer Interior Style
      	*/
      		.footerContainer{
      			/*@editable*/background-color:transparent;
      			/*@editable*/background-image:none;
      			/*@editable*/background-repeat:no-repeat;
      			/*@editable*/background-position:center;
      			/*@editable*/background-size:cover;
      			/*@editable*/border-top:0;
      			/*@editable*/border-bottom:0;
      			/*@editable*/padding-top:0;
      			/*@editable*/padding-bottom:0;
      		}
      	/*
      	@tab Footer
      	@section Footer Text
      	*/
      		.footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      			/*@editable*/color:#FFFFFF;
      			/*@editable*/font-family:Helvetica;
      			/*@editable*/font-size:12px;
      			/*@editable*/line-height:150%;
      			/*@editable*/text-align:center;
      		}
      	/*
      	@tab Footer
      	@section Footer Link
      	*/
      		.footerContainer .mcnTextContent a,.footerContainer .mcnTextContent p a{
      			/*@editable*/color:#FFFFFF;
      			/*@editable*/font-weight:normal;
      			/*@editable*/text-decoration:underline;
      		}
      	@media only screen and (max-width: 480px){
      		.columnWrapper{
      			max-width:100% !important;
      			width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		body,table,td,p,a,li,blockquote{
      			-webkit-text-size-adjust:none !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		body{
      			width:100% !important;
      			min-width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnRetinaImage{
      			max-width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImage{
      			width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
      			max-width:100% !important;
      			width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnBoxedTextContentContainer{
      			min-width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupContent{
      			padding:9px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
      			padding-top:9px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
      			padding-top:18px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageCardBottomImageContent{
      			padding-bottom:9px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupBlockInner{
      			padding-top:0 !important;
      			padding-bottom:0 !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageGroupBlockOuter{
      			padding-top:9px !important;
      			padding-bottom:9px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnTextContent,.mcnBoxedTextContentColumn{
      			padding-right:18px !important;
      			padding-left:18px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
      			padding-right:18px !important;
      			padding-bottom:0 !important;
      			padding-left:18px !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      		.mcpreview-image-uploader{
      			display:none !important;
      			width:100% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 1
      	*/
      		h1{
      			/*@editable*/font-size:36px !important;
      			/*@editable*/line-height:125% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 2
      	*/
      		h2{
      			/*@editable*/font-size:30px !important;
      			/*@editable*/line-height:125% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 3
      	*/
      		h3{
      			/*@editable*/font-size:26px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Heading 4
      	*/
      		h4{
      			/*@editable*/font-size:22px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Boxed Text
      	*/
      		.mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
      			/*@editable*/font-size:14px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Header Text
      	*/
      		.headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Body Text
      	*/
      		.bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Upper Column Text
      	*/
      		#templateUpperColumns .columnContainer .mcnTextContent,#templateUpperColumns .columnContainer .mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Lower Column Section Header Text
      	*/
      		.lowerColumnHeaderContainer .mcnTextContent,.lowerColumnHeaderContainer .mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Lower Column Text
      	*/
      		#templateLowerColumns .columnContainer .mcnTextContent,#templateLowerColumns .columnContainer .mcnTextContent p{
      			/*@editable*/font-size:16px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }	@media only screen and (max-width: 480px){
      	/*
      	@tab Mobile Styles
      	@section Footer Text
      	*/
      		.footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
      			/*@editable*/font-size:14px !important;
      			/*@editable*/line-height:150% !important;
      		}
      
      }

  %body
    = yield
